.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.item-grid-item-top, .item-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-button {
    margin-bottom: .5rem;
}

.item-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.p-card {
    margin: 2rem;
}

img {
    max-width: 200px;
    margin: 0.5rem;
}

img.center {
    display: block;
    margin: 0 auto;
}

p {
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.item-category {
    font-weight: 600;
}

.item-category-icon {
    margin-right: .5rem;
}