.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.item-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
}

.item-grid-item-top, .item-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-category {
    font-weight: 600;
    vertical-align: middle;
}

.item-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}
.item-grid-item-content {
    text-align: center;
}

.item-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.item-description {
    margin: 0 0 1rem 0;
}

.p-button {
    margin-bottom: .5rem;
}

.item-price {
    font-size: 1.5rem;
    font-weight: 600;
}
