.card {
    padding: 1rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: .2rem;
}

.item-grid-item-top, .item-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-button {
    margin-bottom: .5rem;
}

.item-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.item-price {
    font-weight: 600;
}

img {
    max-width: 150px;
    margin: 0.5rem;
}

img.center {
    display: block;
    margin: 0 auto;
}

p {
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item-category {
    font-weight: 600;
}

.item-category-icon {
    margin-right: .5rem;
}

::ng-deep .p-dialog.pdialog {
    width: 50vw;
}

@media (max-width: 900px) {
    ::ng-deep .p-dialog.pdialog {
        width: 100vw;
    }
}
  
