<div class="p-component card">
  <div class="p-grid">
    <div class="p-col-fixed" style="width:150px; margin-right: 1.5rem;">
      <img class="center" alt="{{item.name}}" src="{{item.imageUrl}}">
    </div>
    <div class="p-col-xs-12">
      <div class="p-mb-3 item-name">{{item.name}}</div>
      <div>{{item.category.name}}</div>
      <div>{{item.description}}</div>
    </div>
    <div class="p-col-12 p-p-0 p-mt-4 p-jc-end">
      <div><p-button label="Agregar"></p-button></div>
    </div>
  </div>
</div>
